<p id="notice"><%= notice %></p>

<h1>Listing Lights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lights.each do |light| %>
      <tr>
        <td><%= link_to 'Show', light %></td>
        <td><%= link_to 'Edit', edit_light_path(light) %></td>
        <td><%= link_to 'Destroy', light, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'White', new_light_path(light: "white") %>
<br>
<%= link_to 'Blue', new_light_path(light: "blue") %>
<br>
<%= link_to 'Green', new_light_path(light: "green") %>
<br>
<%= link_to 'Red', new_light_path(light: "red") %>
<br>
<%= link_to 'Yellow', new_light_path(light: "red") %>
<br>
